<div class="container-fluid">
  <div class="row justify-content-center text-center">
    <h1 [class]="isMarried ? 'color-red': 'color-blue'">Hola Mundo!</h1>
    <h3 [ngClass]="{'color-blue': isMarried, 'color-red': !isMarried}">Como estas {{name}}?</h3>
  </div>
  <div *ngIf="isMarried" class="row justify-content-center text-center mt-4">
    <img src="../../assets/heart-png.webp" class="img" alt="">
    <br>
    <p>Esta casado!</p>
  </div>
  <div *ngIf="age >= 18" class="row justify-content-center text-center mt-4 animate__animated animate__fadeIn animate__faster">
    <p>Es mayor de edad</p>
  </div>
  <div class="row justify-content-center text-center mt-4">
    <h2 [ngStyle]="{'color': color}">Hobbies</h2>
  </div>
  <div class="row justify-content-center text-center mt-2">
    <div *ngFor="let item of hobbies" class="col-auto animate__animated animate__fadeIn animate__faster">
      <div [ngSwitch]="item">
        <h4 *ngSwitchCase="'Leer'" style="color: blue;">Leer!</h4>
        <h1 *ngSwitchCase="'Comer'" style="color: royalblue;">{{item}}</h1>
        <h4 *ngSwitchDefault style="color: chartreuse;">{{item}}</h4>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center mt-4">
    <div class="col-auto">
      <button class="btn btn-success" (click)="addHobbie()">Agregar Hobbie Aleatorio</button>
    </div>
  </div>
</div>
